<div class="cont">
  <form>
      <div class="form-group">
          <label for="bookNname">Nimi</label>
          <input name="bookName" class="form-control" id="bookName" placeholder="Teoksen nimi" [(ngModel)]="name">
      </div>
      <div class="form-group">
          <label for="aLaji">Aineistolaji</label>
          <select name="aineistolaji" class="form-control" id="aLaji" placeholder="Aineistolaji" [(ngModel)]="aineistolaji" >
          <option value="Kirja" value="1">Kirja</option>
          <option value="Muut" value="2">Muut</option>
          </select>
      </div>
      <div class="form-group">
          <label for="isbn">ISBN</label>
         <input name="isbn" class="form-control" id="isbn" placeholder="ISBN" [(ngModel)]="isbn">
      </div>
      <div class="form-group">
          <label for="authors">Tekijä</label>
    <input id="authors" class="form-control" list="authorsDatalist" name="authorId" placeholder="Tekijä" [(ngModel)]="authorId">
        <datalist id="authorsDatalist">
          <option *ngFor="let author of authors" value="{{author.name}}" id="{{author.id}}">
        </datalist>
      </div>
      <div class="form-group">
          <label for="description">Kuvaus</label>
        <input name="description" id="description" class="form-control" placeholder="Kuvaus" [(ngModel)]="description">
      </div>
      <div class="form-group">
          <label for="year">Vuosi</label>
        <input name="year" id="year" class="form-control" placeholder="Vuosi" [(ngModel)]="year">
      </div>
      <div class="form-group">
          <label for="info">Lisätiedot</label>
        <input name="info" id="info" class="form-control" placeholder="Lisätiedot" [(ngModel)]="info">
      </div>
        <div class="form-group">
            <label for="genre">Tyylilajit</label>
        <select name="genre" id="genre" class="form-control" [(ngModel)]="genre" multiple>
        <option *ngFor="let genre of genres" value="{{genre.id}}">{{genre.name}}</option>
      </select>
    </div>
      <div class="form-group">
          <label for="shelves">Hylly</label>
    <input id="shelves" class="form-control" list="shelfDatalist" name="shelfId" placeholder="Hylly" [(ngModel)]="shelfId">
        <datalist id="shelfDatalist">
          <option *ngFor="let shelf of shelves" value="{{shelf.name}}" id="{{shelf.id}}">
        </datalist>
      </div>
        <div class="form-group">
            <label for="status">Tila</label>
    <input name="statusId" id="status" class="form-control" placeholder="Tila ID" [(ngModel)]="statusId">
  </div>
    <button type="submit" (click)="submit()">Lähetä</button>
    
    </form>